---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: refractr-stage
  labels:
    app: refractr
  annotations:
    fluxcd.io/locked: 'true'
    fluxcd.io/locked_user: Christina Harlow <cmharlow@gmail.com>
spec:
  releaseName: refractr-ingress-nginx
  chart:
    repository: https://kubernetes.github.io/ingress-nginx
    name: ingress-nginx
    version: "3.7.1"
  values:
    controller:
      useIngressClassOnly: true
      enableCustomResources: false
      autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 4
        targetCPUUtilizationPercentage: 80
        targetMemoryUtilizationPercentage: 80
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi
      admissionWebhooks:
        enable: false
      scope:
        enabled: true
      config:
        use-proxy-protocol: "false"
        use-forwarded-headers: "true"
        # restrict this to the IP addresses of ELB
        proxy-real-ip-cidr: "0.0.0.0/0"
        # HSTS disable here, to be picked up by refractr during redirect
        hsts: "false"
      service:
        externalTrafficPolicy: "Local"
        annotations:
          service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
          service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
          service.beta.kubernetes.io/aws-load-balancer-connection-draining-enabled: "true"
          service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: "Environment=stage"
          # not really well documented except for this here:
          # https://github.com/kubernetes/kubernetes/issues/63959
          service.beta.kubernetes.io/aws-load-balancer-eip-allocations: "eipalloc-0448300623ab0783f,eipalloc-0787184616f563acb,eipalloc-05cc86db2fa7c78ed"
          external-dns.alpha.kubernetes.io/hostname: "stage.mozilla-redirects.xyz,stage.refractr.mozit.cloud"
      metrics:
        enabled: true
        service:
          annotations:
            prometheus.io/scrape: "true"
            prometheus.io/port: "10254"
    rbac:
      create: true
      scope: true
