---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: refractr
  namespace: refractr-stage
  labels:
    app: refractr
  annotations:
    fluxcd.io/automated: "true"
    filter.fluxcd.io/chart-image: regex:^(v[0-9]+.[0-9]+.[0-9]+-[0-9]+-g[a-f0-9]{7})$
spec:
  releaseName: refractr
  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: refractr
    version: "1.0.25"
  values:
    hpa:
      enabled: true
    my_issuer:
      create: true
      name: stage
      dns:
        dnsNames:
        - malware-error.allizom.org
        - '*.malware-error.allizom.org'
        hostedZoneID: Z06469063HC60S7SHF706
    environment: stage
    refractr:
      deployment_name: refractr
    image:
      repository: 783633885093.dkr.ecr.us-west-2.amazonaws.com/refractr
      tag: v0.0.55-1-gc09b1f9
