name: 'Terraform CI'

on:
  - pull_request
  - push

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'terraform'

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2

      - name: Set repo terraform version
        run: |
          export TFENV_TF_VERSION=$(cat .terraform-version)
          echo 'Using version: '
          echo $TFENV_TF_VERSION
          echo '::set-output name=TF_VERSION::$TFENV_TF_VERSION'
        id: tf-version

      - name: 'Setup Terraform'
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ steps.tf-version.outputs.TF_VERSION }}

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check -recursive
